<% include partials/header %>
<div class="row ">
	<div class="col-lg-6">
		<div class="container">
			<h1  class="shi">Student Result  <br>Management System<br>
		<i class="em em-books"></i></h1>
		</div>
	</div>
</div>

</body>